!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Rails hurts"

    %link{ :rel=> "shortcut icon", :type => "image/png", :href => "/images/icon.png"}
    = stylesheet_link_tag "bootstrap.min"
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.4.min.js"
    = javascript_include_tag  "all", "bootstrap.min"
  %body{:class => page_classes}
    .container{:style => "width: 600px"}
      = yield

    :plain
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="http://railshurts.com/images/site-logo.png">
      <meta name="twitter:site" content="@RailsHurts">
      <meta name="twitter:creator" content="@inemation">

      <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32527030 = new Ya.Metrika({ id:32527030, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32527030" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67699650-1', 'auto');
        ga('send', 'pageview');

      </script>