!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/

    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Rails hurts"

    %link{ :rel=> "shortcut icon", :type => "image/png", :href => "/images/icon.png"}
    = stylesheet_link_tag "bootstrap.min"
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.4.min.js"
    = javascript_include_tag  "all", "bootstrap.min"
  %body{:class => page_classes}
    .container{:style => "width: 600px"}
      .text-center
        %br/
        %br/
        %a{:href => "/"}
          %img.center-block{:src => "/images/site-logo.png", :width => "60px"}/
          %h5{:style => "text-align: center;"}
            RAILS HURTS

        %br/
      = yield

      :plain
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'railshurts';

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>

      %br/
      .text-center
        / Begin MailChimp Signup Form
        %h3 Get notified about new posts:
        #get-free-chapter
          %form#mc-embedded-subscribe-form.validate{:action => "//nemytchenko.us8.list-manage.com/subscribe/post?u=eac87c13e320dbac697422aa7&id=a3d703793a", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            #mc_embed_signup_scroll
              / real people should not fill this in and expect good things - do not remove this or risk form bot signups
              %div{:style => "position: absolute; left: -5000px;"}
                %input{:name => "b_eac87c13e320dbac697422aa7_a3d703793a", :tabindex => "-1", :type => "text", :value => ""}/
              #mce-responses.clear
                #mce-error-response.response{:style => "display:none"}
                #mce-success-response.response{:style => "display:none"}
              %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => "Email address"}/
              %input#mc-embedded-subscribe.btn.btn-default.btn-xs{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
        %br/
        %a{:href => "http://twitter.com/RailsHurts"}
          %img.center-block{:src => "/images/ruby-patched.png", :width => "60px"}/
          Follow @RailsHurts
      %br/
      %br/

    :plain
      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="http://railshurts.com/images/site-logo.png">
      <meta name="twitter:site" content="@RailsHurts">
      <meta name="twitter:creator" content="@inemation">


      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter32527030 = new Ya.Metrika({ id:32527030, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="https://mc.yandex.ru/watch/32527030" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-67699650-1', 'auto');
        ga('send', 'pageview');

      </script>